/*
	Template: Theme.css GÓRECKI
*/

body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

.fluid-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


/* TOP BAR */

.top-bar {
    position: relative;
    height: 9.22279792746114vh;
    background: #FFF;
}

.top-bar .choosers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 13, 0212vw;
    height: 9.22279792746114vh;
    background: #CCC;
}

.top-bar .choosers span {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 4.340277777777778vw;
    height: 9.22279792746114vh;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    float: left;
}

.top-bar .choosers span.active {
    background: #bcbcbc;
}

.top-bar .choosers span:hover {
    /*background: red;*/
}

.top-bar .choosers span img {
    padding: 2.072538860103627vh 1.0416666666666665vw;
    position: relative;
    top: 1.0362694300518136vh;
}

.top-bar .choosers .arrow {
    background: #fff;
}

.top-bar .logos {
    position: absolute;
    left: 17.327vw;
    height: 100%;
}

.top-bar .logos ul li.inactive {
    opacity: 0.5;
}

.top-bar .logos ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
    top: 1.0362694300518136vh;
}

.top-bar .logos ul li {
    position: relative;
    float: left;
    display: inline-block;
    margin: 0px 0.78125vw 0px 0px;
    padding: 0;
}

.top-bar .logos ul li img {
    /*width: 110px;
	height: 70px;*/
    /* Obrazki powinny miec wybiar: 110px x 70px; */
    height: 7.253886010362693vh;
}

a.logo {
    display: block;
    position: absolute;
    top: 2.072538860103627vh;
    right: 2.604166666666667vw;
    z-index: 1;
}

a.logo img {
    height: 13.207253886010363vh;
    transform: scale(0.8)
}


/* MAIN CONTENT */

.main-content {
    position: relative;
    height: 73.16062176165804vh;
    /*width: 86.97916666666666vw;*/
}

.main-content #main-car {
    background: url('../images/tlo_3.png') center center;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 86.97916666666666vw;
    width: 100%;
}


/* MAIN CONTENT > MAIN CAR */

.main-content #main-car .car {
    position: absolute;
    width: 60.083333333333336vw;
    left: 0;
    right: 0;
    top: 30.797927461139896vh;
    margin: 0 auto;
}

.main-content .col-1-parts {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8.6808vw;
    background: #DDD;
}

#main-car .car .img-responsive {
    max-width: 150%;
    margin-left: -20%;
    margin-top: -15%;
}

#main-car.truck .img-responsive {
    margin-left: -20%;
}

#main-car.minibus .img-responsive {
    /*max-width: 130%;
    margin-left: -15%;*/
}

#main-car.truck .img-responsive {
    max-width: 170%;
}


/* BOTTOM BAR */

.bottom-bar {
    position: relative;
    height: 17.616580310880828vh;
    background: #FFF;
}

.bottom-bar>div {
    display: inline-block;
    float: left;
}

.bottom-bar .col-1 {
    position: relative;
    width: 60vw;
}

.bottom-bar .col-2 {
    position: relative;
    width: 15vw;
    height: 17.616580310880828vh;
    background: #cecece;
}

.bottom-bar .col-3 {
    position: relative;
    width: 25vw;
}


/* SLICKSLIDER */

.slick-slider {
    padding: 0px 4.53125vw;
    outline: none !important;
}

.slick-slide {
    text-align: center;
    height: 17.616580310880828vh;
    outline: none !important;
}

.slick-prev:before,
.slick-next:before {
    font-family: "FontAwesome";
    color: #CCC;
    font-size: 11.398963730569948vh;
}

.slick-prev:before {
    content: "\f104";
}

.slick-prev {
    left: 5px;
    width: 50px;
    height: 100px;
}

.slick-next {
    right: 5px;
    width: 50px;
    height: 100px;
}

.slick-next:before {
    content: "\f105";
}

.slick-slider .item span {
    display: block;
    position: relative;
    font-size: 1.3471502590673576vh;
    cursor: pointer;
}

.slick-slider .item .titles {
    position: relative;
    top: 0.8290155440414507vh;
}

.slick-slider .item span.title-1 {
    font-weight: 700;
}

.slick-slider img {
    display: block;
    width: 6.25vw;
    margin: 0 auto;
    position: relative;
    top: 1.0362694300518136vh;
}

.slick-slider .item i {
    position: absolute;
    bottom: 0;
    right: 1.0416666666666665vw;
    font-size: 2.2797927461139897vh;
    color: #1c1c1c;
}

.active-rim {
    background: #dbdbdb;
}


/* BOTTOM BAR LOGO */

.bottom-bar .col-2 img {
    display: block;
    /*width: 200px;
	height: 130px;*  <-- WARTOSCI PIXELOWE */
    height: 13.471502590673575vh;
    margin: 0 auto;
    position: relative;
    top: 2.2797927461139897vh;
}


/* BOTTOM BAR COL-3 DETAILS */

.bottom-bar .col-3 span {
    display: block;
    text-align: center;
}

.bottom-bar .col-3 .titles {
    background: #FFF;
    height: 11.917098445595855vh;
    padding-top: 1.5544041450777202vh;
    text-transform: uppercase;
}

.bottom-bar .col-3 .titles span.title {
    font-weight: 700;
    font-size: 3.9378238341968914vh;
}

.bottom-bar .col-3 .titles span.sub-title {
    font-size: 1.865284974093264vh;
}

.bottom-bar .col-3 .details {
    height: 5.699481865284974vh;
    background: #ebebeb;
}

.bottom-bar .col-3 .details span {
    position: relative;
    font-weight: 700;
    font-size: 2.4870466321243523vh;
    top: 1.2435233160621761vh;
    text-transform: uppercase;
}


/* MENU */

#menu nav {
    height: 100%;
    width: 100%;
    display: none;
}

#menu .menu-1 a {
    width: 100%;
}

#menu .menu-1 a img {
    opacity: 0.6;
}

#menu .menu-1 a img {
    width: 80%;
    margin: 0 10%;
}

#menu .menu-1 a.active img{
    opacity: 1;
}


#menu .menu-1 {
    overflow-y: scroll;
    overflow-x: hidden;
}

#menu .menu-2 a {
    text-decoration: none;
    margin: 10px;
    background: red;
    display: block;
    border: 5px solid #ddd;
}

#menu .menu-2 a img {
    width: 100%;
}

#menu .menu-2 a.active {
    border-color: #bcbcbc;
}

#menu .menu-2 a.green {
    background: green;
}

#menu .menu-2 a.yellow {
    background: yellow;
}

#menu .menu-2 a.red {
    background: red;
}

#menu .menu-2 a.orange {
    background: orange;
}

#menu .menu-2 a.black {
    background: black;
}

#menu .menu-2 a.green {
    background: green;
}

#menu .menu-2 a.white {
    background: white;
}

#menu .menu-2 a.silver {
    background: silver;
}

#menu .menu-2 a.gold {
    background: brown;
}

#menu .menu-2 a.pink {
    background: pink;
}

#menu .menu-2 a.violet {
    background: violet;
}

#menu .menu-2 a.blue {
    background: blue;
}

#menu .menu-2 a.green {
    background: green;
}


/* Slider */

.bottom-bar .slider-box {
    height: 0;
    overflow: hidden;
}


/* Main-car - bmw */


/* 1 rim */

#main-car.bmw .left-rim-1 {
    top: 39.9%;
    left: 1.7%;
    position: absolute;
    width: 20.5%;
}

#main-car.bmw .right-rim-1 {
    top: 39.95%;
    left: 82.3%;
    position: absolute;
    width: 20.5%;
}


/* 2 rim */

#main-car.bmw .left-rim-2 {
    top: 39.9%;
    left: 1.7%;
    position: absolute;
    width: 20.5%;
}

#main-car.bmw .right-rim-2 {
    top: 39.95%;
    left: 82.3%;
    position: absolute;
    width: 20.5%;
}


/* 3 rim */

#main-car.bmw .left-rim-2 {
    top: 39.9%;
    left: 1.7%;
    position: absolute;
    width: 20.5%;
}

#main-car.bmw .right-rim-2 {
    top: 39.95%;
    left: 82.3%;
    position: absolute;
    width: 20.5%;
}


/* Main-car - scania */

#main-car.bus_scania .left-rim-3 {
    display: none;
}

#main-car.bus_scania .right-rim-3 {
    display: none;
}
#main-car.bus_scania .left-rim-2 {
    display: none;
}

#main-car.bus_scania .right-rim-2 {
    display: none;
}
#main-car.bus_scania .left-rim-1 {
    display: none;
}

#main-car.bus_scania .right-rim-1 {
    display: none;
}

/* 1 rim */
/*
#main-car.bus_scania .left-rim-1 {
    top: 60%;
    left: 24.8%;
    position: absolute;
    width: 7.2%;
}

#main-car.bus_scania .right-rim-1 {
    top: 60%;
    left: 62.6%;
    position: absolute;
    width: 7.2%;
}


/* 2 rim */
/*
#main-car.bus_scania .left-rim-2 {
    top: 60%;
    left: 24.8%;
    position: absolute;
    width: 7.2%;
}

#main-car.bus_scania .right-rim-2 {
    top: 60%;
    left: 62.6%;
    position: absolute;
    width: 7.2%;
}


/* 3 rim */
/*
#main-car.bus_scania .left-rim-3 {
    top: 60%;
    left: 24.8%;
    position: absolute;
    width: 7.2%;
}

#main-car.bus_scania .right-rim-3 {
    top: 60%;
    left: 62.6%;
    position: absolute;
    width: 7.2%;
}


/* Main-car - fiat */


/* 1 rim */

#main-car.fiat .car {
    /*  top: 15.7979vh !important; */
}

#main-car.fiat .left-rim-1 {
    top: 46.5%;
    left: 3.2%;
    position: absolute;
    width: 17.1%;
}

#main-car.fiat .right-rim-1 {
    top: 46.5%;
    left: 73%;
    position: absolute;
    width: 17.1%;
}


/* 2 rim */

#main-car.fiat .left-rim-2 {
    top: 46.5%;
    left: 3.2%;
    position: absolute;
    width: 17.1%;
}

#main-car.fiat .right-rim-2 {
    top: 46.5%;
    left: 73%;
    position: absolute;
    width: 17.1%;
}


/* 3 rim */

#main-car.fiat .left-rim-3 {
    top: 46.5%;
    left: 3.2%;
    position: absolute;
    width: 17.1%;
}

#main-car.fiat .right-rim-3 {
    top: 46.5%;
    left: 73%;
    position: absolute;
    width: 17.1%;
}


/* Main-car - mazda */

#main-car.mazda .car {
    /*top: 20.7979vh !important; */
}


/* 1 rim */

#main-car.mazda .left-rim-1 {
    top: 41.1%;
    left: 1.9%;
    position: absolute;
    width: 19.8%;
}

#main-car.mazda .right-rim-1 {
    top: 41.1%;
    left: 82.7%;
    position: absolute;
    width: 19.8%;
}


/* 2 rim */

#main-car.mazda .left-rim-2 {
    top: 41.1%;
    left: 1.9%;
    position: absolute;
    width: 19.8%;
}

#main-car.mazda .right-rim-2 {
    top: 41.1%;
    left: 82.7%;
    position: absolute;
    width: 19.8%;
}


/* 3 rim */

#main-car.mazda .left-rim-3 {
    top: 41.1%;
    left: 1.9%;
    position: absolute;
    width: 19.8%;
}

#main-car.mazda .right-rim-3 {
    top: 41.1%;
    left: 82.7%;
    position: absolute;
    width: 19.8%;
}

/* Main-car - mazda wagon */

#main-car.mazda .car {
    /*top: 20.7979vh !important; */
}


/* 1 rim */

#main-car.mazda_wagon .left-rim-1 {
    top: 41.1%;
    left: 1.9%;
    position: absolute;
    width: 19.8%;
}

#main-car.mazda_wagon .right-rim-1 {
    top: 41.1%;
    left: 82.7%;
    position: absolute;
    width: 19.8%;
}


/* 2 rim */

#main-car.mazda_wagon .left-rim-2 {
    top: 41.1%;
    left: 1.9%;
    position: absolute;
    width: 19.8%;
}

#main-car.mazda_wagon .right-rim-2 {
    top: 41.1%;
    left: 82.7%;
    position: absolute;
    width: 19.8%;
}


/* 3 rim */

#main-car.mazda_wagon .left-rim-3 {
    top: 41.1%;
    left: 1.9%;
    position: absolute;
    width: 19.8%;
}

#main-car.mazda_wagon .right-rim-3 {
    top: 41.1%;
    left: 82.7%;
    position: absolute;
    width: 19.8%;
}

/* Main-car - mercedes */

#main-car.mercedes .car {
    /*  top: 20.7979vh !important; */
}


/* 1 rim */

#main-car.mercedes .left-rim-1 {
    top: 42.2%;
    left: 2.3%;
    position: absolute;
    width: 19.2%;
}

#main-car.mercedes .right-rim-1 {
    top: 42.2%;
    left: 77.2%;
    position: absolute;
    width: 19.2%;
}


/* 2 rim */

#main-car.mercedes .left-rim-2 {
    top: 42.2%;
    left: 2.3%;
    position: absolute;
    width: 19.2%;
}

#main-car.mercedes .right-rim-2 {
    top: 42.2%;
    left: 77.2%;
    position: absolute;
    width: 19.2%;
}


/* 3 rim */

#main-car.mercedes .left-rim-3 {
    top: 42.2%;
    left: 2.3%;
    position: absolute;
    width: 19.2%;
}

#main-car.mercedes .right-rim-3 {
    top: 42.2%;
    left: 77.2%;
    position: absolute;
    width: 19.2%;
}


/* Main-car - minibus */

#main-car.minibus .car {}


/* 1 rim */

#main-car.minibus .left-rim-1 {
    top: 51.4%;
    left: 2%;
    position: absolute;
    width: 15.5%;
}

#main-car.minibus .right-rim-1 {
    top: 51.4%;
    left: 79.8%;
    position: absolute;
    width: 15.5%;
}


/* 2 rim */

#main-car.minibus .left-rim-2 {
    top: 51.4%;
    left: 2%;
    position: absolute;
    width: 15.5%;
}

#main-car.minibus .right-rim-2 {
    top: 51.4%;
    left: 79.8%;
    position: absolute;
    width: 15.5%;
}


/* 3 rim */

#main-car.minibus .left-rim-3 {
    top: 51.4%;
    left: 2%;
    position: absolute;
    width: 15.5%;
}

#main-car.minibus .right-rim-3 {
    top: 51.4%;
    left: 79.8%;
    position: absolute;
    width: 15.5%;
}

/* Main-car - van */

#main-car.van .car {}


/* 1 rim */

#main-car.van .left-rim-1 {
    top: 51.4%;
    left: 2%;
    position: absolute;
    width: 15.5%;
}

#main-car.van .right-rim-1 {
    top: 51.4%;
    left: 79.8%;
    position: absolute;
    width: 15.5%;
}


/* 2 rim */

#main-car.van .left-rim-2 {
    top: 51.4%;
    left: 2%;
    position: absolute;
    width: 15.5%;
}

#main-car.van .right-rim-2 {
    top: 51.4%;
    left: 79.8%;
    position: absolute;
    width: 15.5%;
}


/* 3 rim */

#main-car.van .left-rim-3 {
    top: 51.4%;
    left: 2%;
    position: absolute;
    width: 15.5%;
}

#main-car.van .right-rim-3 {
    top: 51.4%;
    left: 79.8%;
    position: absolute;
    width: 15.5%;
}


/* Main-car - range */

#main-car.range .car {
    /*top: 15.7979vh !important;*/
}


/* 1 rim */

#main-car.range .left-rim-1 {
    top: 38.3%;
    left: 1.5%;
    position: absolute;
    width: 20.5%;
}

#main-car.range .right-rim-1 {
    top: 38.3%;
    left: 78%;
    position: absolute;
    width: 20.5%;
}


/* 2 rim */

#main-car.range .left-rim-2 {
    top: 38.3%;
    left: 1.5%;
    position: absolute;
    width: 20.5%;
}

#main-car.range .right-rim-2 {
    top: 38.3%;
    left: 78%;
    position: absolute;
    width: 20.5%;
}


/* 3 rim */

#main-car.range .left-rim-3 {
    top: 38.3%;
    left: 1.5%;
    position: absolute;
    width: 20.5%;
}

#main-car.range .right-rim-3 {
    top: 38.3%;
    left: 78%;
    position: absolute;
    width: 20.5%;
}


/* Main-car - vw */

#main-car.vw .car {
    /* top: 20.7979vh !important; */
}


/* 1 rim */

#main-car.vw .left-rim-1 {
    top: 42.4%;
    left: 2.5%;
    position: absolute;
    width: 18.5%;
}

#main-car.vw .right-rim-1 {
    top: 42.4%;
    left: 85.2%;
    position: absolute;
    width: 18.5%;
}


/* 2 rim */

#main-car.vw .left-rim-2 {
    top: 42.4%;
    left: 2.5%;
    position: absolute;
    width: 18.5%;
}

#main-car.vw .right-rim-2 {
    top: 42.4%;
    left: 85.2%;
    position: absolute;
    width: 18.5%;
}


/* 3 rim */

#main-car.vw .left-rim-3 {
    top: 42.4%;
    left: 2.5%;
    position: absolute;
    width: 18.5%;
}

#main-car.vw .right-rim-3 {
    top: 42.4%;
    left: 85.2%;
    position: absolute;
    width: 18.5%;
}


/* Main-car - truck */

#main-car.truck .left-rim-3 {
    display: none;
}

#main-car.truck .right-rim-3 {
    display: none;
}
#main-car.truck .left-rim-2 {
    display: none;
}

#main-car.truck .right-rim-2 {
    display: none;
}
#main-car.truck .left-rim-1 {
    display: none;
}

#main-car.truck .right-rim-1 {
    display: none;
}


#main-car.truck .car {
    /*top: 10.7979vh !important;
    left: 20vh;  */
    top: 21.7979vh
}


/* 1 rim */
/*
#main-car.truck .left-rim-1 {
    top: 73%;
    left: 28.7%;
    position: absolute;
    width: 12%;
}

#main-car.truck .right-rim-1 {
    top: 73%;
    left: 66%;
    position: absolute;
    width: 12%;
}


/* 2 rim */
/*
#main-car.truck .left-rim-2 {
    top: 73%;
    left: 28.7%;
    position: absolute;
    width: 12%;
}

#main-car.truck .right-rim-2 {
    top: 73%;
    left: 66%;
    position: absolute;
    width: 12%;
}


/* 3 rim */
/*
#main-car.truck .left-rim-3 {
    top: 73%;
    left: 28.7%;
    position: absolute;
    width: 12%;
}

#main-car.truck .right-rim-3 {
    top: 73%;
    left: 66%;
    position: absolute;
    width: 12%;
}


/* Hidden rims for truck, bus, minibus */

#left-rim, #right-rim {
    display: none;
}
#main-car.truck #left-rim,
#main-car.truck #right-rim,
#main-car.bus_scania #left-rim,
#main-car.bus_scania #right-rim {
    display: none !important;
}

.miniaturka1 {
    position: absolute;
    right: -13%;
    z-index: 2;
    width: 20vw;
    height: 20vh;
    background: url("../img/tlo/tlo_1.png");
    margin: 0;
    padding: 0;
    border: none;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    bottom: 25vh;
}

.miniaturka2 {
    position: absolute;
    right: -13%;
    z-index: 2;
    width: 20vw;
    height: 20vh;
    background: url("../img/tlo/tlo_2.png");
    margin: 0;
    padding: 0;
    border: none;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    bottom: 18.5vh;
}

.miniaturka3 {
    position: absolute;
    right: -13%;
    z-index: 2;
    width: 20vw;
    height: 20vh;
    background: url("../img/tlo/tlo_3.png");
    margin: 0;
    padding: 0;
    border: none;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    bottom: 12vh;
}

.miniaturka4 {
    position: absolute;
    right: -13%;
    z-index: 2;
    width: 20vw;
    height: 20vh;
    background: url("../img/tlo/tlo_4.png");
    margin: 0;
    padding: 0;
    border: none;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    bottom: 5.5vh;
}


/* Background changer */

#background-changer {
    position: absolute;
    bottom: 0;
    right: 0;
}

#background-changer ul {
    list-style-type: none;
}

#background-changer ul li {
    border: 1px solid #ddd;
    margin: 5px;
    cursor: pointer;
    opacity: 0.5;
}

#background-changer ul li.active {
    opacity: 1;
    border-color: #999;
}

#background-changer ul li img {
    width: 50px;
}


/* Promo */

#promo p{
    color: #000;
    opacity: .7;
    text-align: right;
    font-size: 10px;
    line-height: 0.8rem;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#promo a {
    opacity: .7;
}


/* Company logo */

#company-logo img {
    transform: scale(1.5);
}

@media (max-width: 1199px) {
    #company-logo img {
        transform: scale(1.2);
    }
    .slick-slider .item span {
        display: block;
        position: relative;
        font-size: 1.1471502590673576vh;
        cursor: pointer;
    }
}

@media (max-width: 1000px) {
    #company-logo img {
        transform: scale(1);
    }
}

@media (max-width: 800px) {
    #company-logo img {
        transform: scale(1.1);
    }
}

@media (max-width: 600px) {
    #company-logo img {
        transform: scale(.9);
    }
}



/* Car position */

.bmw .car {}

.fiat .car {
    /*  top: 15.7979vh !important; */
}

.mazda .car {}

.mercedes .car {}

.range .car {}

.vw .car {}

.minibus .car {}

.bus_scania .car {}

@media (min-width: 992px) and (max-width: 1199px) {
    .top-bar .logos ul li {
        top: 5px;
    }
    .top-bar .logos ul li img {
        height: 6.25389vh;
    }
}

@media (max-width: 991px) {
    a.logo img {
        transform: scale(0.7);
    }
    .top-bar .logos ul li {
        top: 5px;
    }
    .top-bar .logos ul li img {
        height: 5.25389vh;
    }
}

@media (max-width: 768px) {
    a.logo img {
        transform: scale(0.6);
    }
    .top-bar .logos ul li {
        top: 5px;
    }
    .top-bar .logos ul li img {
        height: 3vh;
    }
}

@media (max-width: 800px) {
    #menu .menu-2 a {
        text-decoration: none;
        margin: 2px;
        background: red;
        display: block;
        border: 0px solid #ddd;
    }
    .top-bar .logos ul li {
        top: 4px;
    }
    .top-bar .logos ul li img {
        height: 6vh;
    }
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
    .main-content {
        z-index: 999;
        width: 100vw;
        height: 100vh;
        background: url("tlo-mniejsze.png");
        margin: 0;
        padding: 0;
        border: none;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
    }
    #main-car {
        display: none;
    }
    .top-bar {
        display: none;
    }
    .bottom-bar {
        display: none;
    }
    .car {
        display: none;
    }
    #background-changer {
        display: none;
    }
    #menu {
        display: none;
    }
}

 /* Top Bar Logos */

@media (max-width: 644px){

    .top-bar .logos img {

        transform: scale(.5);

    }

}
/* wheelName */

@media (max-width: 828px) {
    #wheelName .titles > span {
        font-size: .9em;
    }
}
